@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

//position icon in top left
img{
    position: absolute;
    width: 6%;
    top: 5%;
    left: 5%;
}

//root styling
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 0px;
    justify-content: space-evenly;
    width: 100%;
    padding: 25px;
}

//label + checkbox styling
.image-container {
    position: relative;
    display: flex;
    aspect-ratio: 1/1;
    margin: 10px;
    padding: 2px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

//label styling
.image-label {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 2px;
    background-repeat: no-repeat;
}

//checkbox styling
input.square-checkbox {
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

input.square-checkbox:checked + label{
    outline-style: solid;
    outline-width: 0.5vh;
    outline-color: red;
}

@media (pointer: coarse) {
    @media (max-width: 500px) {
        .container {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        }
    }
    @media (min-width: 500px) and (max-width: 1024px) {
        .container {
            grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        }
    }
}

/* Desktop styles */
@media (pointer: fine), (pointer: none) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
}
